@import url("https://kit-pro.fontawesome.com/releases/v6.1.2/css/pro.min.css");

@mixin flex($ai: center, $jc: center, $fd: row, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
  gap: $gap;
}

@mixin grid($gc: auto, $gr: auto, $gap: 0) {
  display: grid;
  grid-template-columns: $gc;
  grid-template-rows: $gr;
  gap: $gap;
}

@mixin size($mh: auto, $mw: auto) {
  min-height: $mh;
  min-width: $mw;
  max-height: $mh;
  max-width: $mw;
}

@mixin border($w: 4px, $c: var(--color-3), $r: 0) {
  border: $w solid $c;
  border-radius: $r;
}

@mixin font($size: 3em, $weight: 500, $line: 1.5) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
}

@mixin title {
  margin-bottom: 10px;
  place-self: center;
  color: var(--logo-50);
  font-weight: 500;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: wavy underline var(--primary-400);
  letter-spacing: 0.5px;
}

// *
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  scroll-behavior: smooth;
  // cursor: url(../img/cursor6.png), auto;
  // user-select: none;
  // resize: both;
  &::-webkit-scrollbar {
    display: none;
  }
  &::selection {
    color: var(--white);
    background: var(--teal-1);
  }
}

//? colors
:root {
  --white: #fff;
  // // --color-1: #171836;
  // --color-1: #002028;
  // // --color-2: #1f2143;
  // --color-2: #00181e;
  // --color-2-1: #00181e80;
  // // --color-3: #f5443b;
  // // --color-3: #00dc82;
  --teal-1: #078ce5;
  --teal-2: #00b4d8;

  --gold-1: #fffede;
  // --gold-2: #f2c83b;
  --gold-2: #e5c24e;
  --gold-3: #ffe01b;
  --gold-4: #fdc61f;
  --gold-5: #f2a100;
  // *color gray
  --gray-1: #f6f8f9;
  --gray-1a: #f4f6f6;
  --gray-2: #edf1f2;
  --gray-3: #e0e6e8;
  --gray-4: #d5dce0;
  --gray-5: #b7bfc6;
  --gray-6: #9ca6af;
  --gray-7: #848f99;
  --gray-8: #646f79;
  --gray-9: #222b37;
  --gray-10: #151b26;
  --purple-1: #f0f0ff;
  --purple-2: #aba3ff;
  --purple-3: #9287ff;
  --purple-4: #796eff;
  --purple-5: #635ac7;
}

a {
  text-decoration: none;
  color: var(--teal-1);
}

ul,
ol {
  list-style: none;
  padding-left: 0 !important;
}

input,
select,
button,
textarea,
select,
fieldset,
hr {
  border: none;
  outline: none;
}

input,
textarea {
  transition: 0.5s;
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    background: url("https://image.flaticon.com/icons/png/512/659/659891.png")
      center/cover;
  }
  &::placeholder {
    color: var(--logo-50);
    transition: 0.5s;
  }
  &:focus::placeholder {
    transform: translateX(-100%);
  }
}

.title {
  position: relative;
  @include flex(flex-start, center, column);
  // background: #000;
  h4 {
    position: absolute;
    top: -10px;
    left: 0;
    transform: translate(-50%, -50%) rotate(-35deg);
    color: var(--purple-4);
    font-family: "Jost", sans-serif;
  }
  h1 {
    width: 80%;
    font-size: 4.5em;
    font-weight: 500;
    line-height: 70px;
  }
}
.title + p {
  position: relative;
  padding-left: 50px;
  color: var(--gray-7);
  font-size: 18px;
  font-family: "Jost", sans-serif;
  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    height: 2.5px;
    width: 30px;
    border-radius: 10px;
    background: var(--gray-9);
  }
}

.circle {
  position: relative;
  @include size(150px, 150px);
  @include border(2.5px, var(--white), 50%);
  @include flex;
  &:hover {
    .logo i {
      transform: translate(5px, -5px);
    }
  }
  .logo {
    position: absolute;
    color: var(--white);
    font-size: 24px;
    @include size(100px, 100px);
    @include border(2.5px, var(--white), 50%);
    @include flex;
    i {
      transition: 0.25s;
    }
  }
  .text {
    position: absolute;
    transform: translateY(calc(-50% - 5px));
    @include size(150px, 150px);
    @include flex;
    span {
      position: absolute;
      color: var(--white);
      font-size: 16px;
      transform-origin: 0 70px;
    }
  }
}

// animation: rotate 7.5s linear infinite;
// @keyframes rotate {
//   0% {
//     transform: rotate(360deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
