@media screen and (max-width: 767px) {
  .title {
    @include flex(center, center, column);
    h4 {
      left: 50px;
    }
    h1 {
      font-size: 2.5em;
      line-height: 40px;
      text-align: center;
    }
  }

  .nav {
    padding: 0 5vw;
    .bar {
      display: flex;
    }
    ul {
      position: fixed;
      padding: 20px !important;
      top: 0;
      left: -70vw;
      width: 70vw;
      height: 100vh;
      background: var(--purple-1);
      @include flex(flex-start, flex-start, column, 10px);
      z-index: 4;
      transition: 0.5s ease-in-out;
    }
    .lang {
      padding: 2.5px;
      &_name {
        display: none;
      }
      &_icon {
        margin-left: 0;
      }
    }
    &.active {
      ul {
        left: 0;
        li {
          a {
            &::before {
              top: 0;
              width: 2.5px;
              height: 0;
            }
            &:hover,
            &.nuxt-link-exact-active {
              padding: 5px 10px;
              &::before {
                height: 100%;
              }
            }
          }
        }
      }
      .close {
        right: 0;
      }
    }
  }

  .home {
    @include flex(center, center, column, 50px);
    &_content {
      width: 100%;
      &-text {
        @include flex(center, center, column, 10px);
        p {
          padding: 0;
          text-align: center;
          &::before {
            display: none;
          }
        }
      }
      &-networks {
        display: none;
      }
    }
    &_scroll-line {
      display: none;
    }
    img {
      width: 80%;
    }
  }

  .services {
    padding: 50px 15px;
    @include flex(center, center, column, 20px);
    &_content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "A A"
        "B C";
      .title {
        grid-area: A;
      }
      .circle {
        grid-area: C;
        transform: scale(0.75) translate(20px, -70px);
      }
      p {
        padding: 0;
        grid-area: B;
        &::before {
          display: none;
        }
      }
    }
    &_list {
      width: 100%;
      li {
        h2 + div {
          gap: 5px;
          h1 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
