@import url("https://kit-pro.fontawesome.com/releases/v6.1.2/css/pro.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Popins", sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

*::-moz-selection {
  color: var(--white);
  background: var(--teal-1);
}

*::selection {
  color: var(--white);
  background: var(--teal-1);
}

:root {
  --white: #fff;
  --teal-1: #078ce5;
  --teal-2: #00b4d8;
  --gold-1: #fffede;
  --gold-2: #e5c24e;
  --gold-3: #ffe01b;
  --gold-4: #fdc61f;
  --gold-5: #f2a100;
  --gray-1: #f6f8f9;
  --gray-1a: #f4f6f6;
  --gray-2: #edf1f2;
  --gray-3: #e0e6e8;
  --gray-4: #d5dce0;
  --gray-5: #b7bfc6;
  --gray-6: #9ca6af;
  --gray-7: #848f99;
  --gray-8: #646f79;
  --gray-9: #222b37;
  --gray-10: #151b26;
  --purple-1: #f0f0ff;
  --purple-2: #aba3ff;
  --purple-3: #9287ff;
  --purple-4: #796eff;
  --purple-5: #635ac7;
}

a {
  text-decoration: none;
  color: var(--teal-1);
}

ul,
ol {
  list-style: none;
  padding-left: 0 !important;
}

input,
select,
button,
textarea,
select,
fieldset,
hr {
  border: none;
  outline: none;
}

input,
textarea {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input::-webkit-search-cancel-button,
textarea::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  background: url("https://image.flaticon.com/icons/png/512/659/659891.png") center/cover;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--logo-50);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--logo-50);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--logo-50);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input::placeholder,
textarea::placeholder {
  color: var(--logo-50);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  transform: translateX(-100%);
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  transform: translateX(-100%);
}

input:focus::placeholder,
textarea:focus::placeholder {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.title h4 {
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transform: translate(-50%, -50%) rotate(-35deg);
          transform: translate(-50%, -50%) rotate(-35deg);
  color: var(--purple-4);
  font-family: "Jost", sans-serif;
}

.title h1 {
  width: 80%;
  font-size: 4.5em;
  font-weight: 500;
  line-height: 70px;
}

.title + p {
  position: relative;
  padding-left: 50px;
  color: var(--gray-7);
  font-size: 18px;
  font-family: "Jost", sans-serif;
}

.title + p::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  height: 2.5px;
  width: 30px;
  border-radius: 10px;
  background: var(--gray-9);
}

.circle {
  position: relative;
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  border: 2.5px solid var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.circle:hover .logo i {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
}

.circle .logo {
  position: absolute;
  color: var(--white);
  font-size: 24px;
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  border: 2.5px solid var(--white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.circle .logo i {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.circle .text {
  position: absolute;
  -webkit-transform: translateY(calc(-50% - 5px));
          transform: translateY(calc(-50% - 5px));
  min-height: 150px;
  min-width: 150px;
  max-height: 150px;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.circle .text span {
  position: absolute;
  color: var(--white);
  font-size: 16px;
  -webkit-transform-origin: 0 70px;
          transform-origin: 0 70px;
}

.nav {
  position: fixed;
  padding: 5vh 5vw;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav .bar {
  padding: 5px 0;
  height: 25px;
  width: 25px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  display: none;
}

.nav .bar span {
  height: 2px;
  width: 100%;
  background: var(--gray-9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.nav .logo h2 mark {
  color: var(--purple-5);
  background: transparent;
}

.nav .logo img {
  width: 40px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.nav ul li a {
  position: relative;
  padding: 5px;
  color: var(--gray-8);
  font-family: "Jost", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav ul li a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2.5px;
  width: 0%;
  background: var(--purple-4);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav ul li a:hover, .nav ul li a.nuxt-link-exact-active {
  color: var(--purple-4);
}

.nav ul li a:hover::before, .nav ul li a.nuxt-link-exact-active::before {
  width: 100%;
}

.nav .close {
  position: fixed;
  top: 0;
  right: -30vw;
  width: 30vw;
  height: 100vh;
  z-index: 4;
}

.nav .lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.nav .lang:hover svg path {
  stroke: var(--purple-5);
}

.nav .lang:hover_content {
  opacity: 0;
}

.nav .lang svg {
  cursor: pointer;
  width: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .lang_content {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  padding: 20px;
  background: var(--purple-1);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.nav .lang_content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.nav .lang_content label input {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 2px var(--purple-4), inset 0 0 0 15px #fff;
          box-shadow: inset 0 0 0 2px var(--purple-4), inset 0 0 0 15px #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .lang_content label input:checked {
  -webkit-box-shadow: inset 0 0 0 2px var(--purple-4), inset 0 0 0 4px #fff, inset 0 0 0 15px var(--purple-4);
          box-shadow: inset 0 0 0 2px var(--purple-4), inset 0 0 0 4px #fff, inset 0 0 0 15px var(--purple-4);
}

.nav .lang_content label input:checked + span {
  color: var(--purple-5);
}

.nav.sticky {
  padding: 0 5vw;
  background: var(--gray-1);
}

.home {
  position: relative;
  padding: 0 5vw;
  min-height: 100vh;
  background: var(--gray-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stratch;
      -ms-flex-align: stratch;
          align-items: stratch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0;
}

.home_content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.home_content-text {
  position: relative;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.home_content-text p {
  position: relative;
  padding-left: 50px;
  color: var(--gray-7);
  font-size: 18px;
  font-family: "Jost", sans-serif;
}

.home_content-text p::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  height: 2.5px;
  width: 30px;
  border-radius: 10px;
  background: var(--gray-9);
}

.home_content-text span {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.home_content-text span a {
  padding: 10px 25px;
  color: #fff;
  font-family: "Jost", sans-serif;
  background: var(--purple-4);
  border-radius: 15px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.home_content-text span a:nth-child(2) {
  color: var(--purple-4);
  background: transparent;
}

.home_content-text span a:hover {
  color: #fff;
  background: var(--purple-5);
}

.home_content-text span a:hover i {
  -webkit-transform: translate(2.5px, -2.5px);
          transform: translate(2.5px, -2.5px);
}

.home_content-text span a i {
  margin-left: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.home_content-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
}

.home_content-networks p {
  margin-right: 20px;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

.home_content-networks span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.home_content-networks span a {
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  color: var(--gray-7);
  font-size: 18px;
  background: var(--purple-1);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home_content-networks span a:hover {
  color: var(--white);
  background: var(--purple-5);
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.home_scroll-line {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.home_scroll-line hr {
  position: relative;
  height: 250px;
  width: 3px;
  background: var(--gray-4);
  border-radius: 10px;
}

.home_scroll-line hr::before {
  position: absolute;
  content: "";
  bottom: 40px;
  left: 0;
  height: 20px;
  width: 3px;
  background: var(--gray-1);
}

.home_scroll-line h4 {
  color: var(--gray-7);
  font-weight: 400;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.home img {
  width: 40vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.services {
  position: relative;
  padding: 100px 5vw;
  background: var(--teal-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0;
  --purple-4: #fff;
}

.services_content {
  position: relative;
  width: 40%;
}

.services_content p {
  margin-top: 20px;
  color: var(--gray-9);
}

.services_content .circle {
  margin-top: 120px;
}

.services_list {
  width: 40%;
}

.services_list li {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  border-top: 2.5px solid var(--gray-9);
}

.services_list li h2 {
  font-weight: 400;
}

.services_list li h2 + div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.services_list li h2 + div h1 {
  width: 70%;
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

.services_list li h2 + div span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}

.services_list li h2 + div span p {
  font-size: 18px;
  font-family: "Jost", sans-serif;
}

.services_list li h2 + div span a {
  min-height: 45px;
  min-width: 45px;
  max-height: 45px;
  max-width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  color: var(--teal-2);
  background: var(--purple-4);
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  .title h4 {
    left: 50px;
  }
  .title h1 {
    font-size: 2.5em;
    line-height: 40px;
    text-align: center;
  }
  .nav {
    padding: 0 5vw;
  }
  .nav .bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav ul {
    position: fixed;
    padding: 20px !important;
    top: 0;
    left: -70vw;
    width: 70vw;
    height: 100vh;
    background: var(--purple-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
    z-index: 4;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .nav .lang {
    padding: 2.5px;
  }
  .nav .lang_name {
    display: none;
  }
  .nav .lang_icon {
    margin-left: 0;
  }
  .nav.active ul {
    left: 0;
  }
  .nav.active ul li a::before {
    top: 0;
    width: 2.5px;
    height: 0;
  }
  .nav.active ul li a:hover, .nav.active ul li a.nuxt-link-exact-active {
    padding: 5px 10px;
  }
  .nav.active ul li a:hover::before, .nav.active ul li a.nuxt-link-exact-active::before {
    height: 100%;
  }
  .nav.active .close {
    right: 0;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .home_content {
    width: 100%;
  }
  .home_content-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .home_content-text p {
    padding: 0;
    text-align: center;
  }
  .home_content-text p::before {
    display: none;
  }
  .home_content-networks {
    display: none;
  }
  .home_scroll-line {
    display: none;
  }
  .home img {
    width: 80%;
  }
  .services {
    padding: 50px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .services_content {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A A" "B C";
  }
  .services_content .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: A;
  }
  .services_content .circle {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: C;
    -webkit-transform: scale(0.75) translate(20px, -70px);
            transform: scale(0.75) translate(20px, -70px);
  }
  .services_content p {
    padding: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: B;
  }
  .services_content p::before {
    display: none;
  }
  .services_list {
    width: 100%;
  }
  .services_list li h2 + div {
    gap: 5px;
  }
  .services_list li h2 + div h1 {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=app.css.map */